*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
  background: url("../img/sky-cloud.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #c4e7fa;
  height: 100vh;
}

h1{
  text-align: center;
  color: #1C75BC;
  text-transform: uppercase;
  font-size: 2.4em;
  padding-top: 40px;
}

#lista-numeri{
  height: calc(100vh - 92px);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 25px 0;
  padding-left: 35px;
}
